<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>

        <customErrors mode="Off" />

    </system.web>

    <system.webServer>

        <httpErrors
            errorMode="Custom"
            existingResponse="Replace">

            <remove
                statusCode="404"
                subStatusCode="-1" />

            <error
                statusCode="404"
                subStatusCode="-1"
                path="/404.html"
                responseMode="ExecuteURL" />

        </httpErrors>

    </system.webServer>

</configuration>